h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    outline: auto;
    background-color: orange;
}

ul {background-color: black;
color: white;}

p{ background-color: lightpink;
color: darkred;
}

ol{
    background-color: gold;
    color: blue;
    text-align: center;
}

a {
    color: aliceblue;
}
